
<div class="app-card-container">
  <div class="card">

<!--<div class="contact">-->
  <h1>Would you like to work together?</h1>
<!--</div>  -->
  <hr>
  
  <div class="row">
    <div class="col-md-6">
      <!--<div class="align-middle">-->
       <h3>Office Address</h3>
  
       <p>520 Charest E #390, Québec, QC G1K 9K6</p>
   
       <h3>Phone</h3>
   
       <p><%= number_to_phone "4182386131" %></p>
   
       <h3>Email</h3>
   
       <p><a href="mailto:info@qbecode.com?subject=PortfolioContact" "email me">Email me</a> </p>
     <!--</div>-->
    </div>
  
    <div class="col-md-6 embed-responsive">
      <iframe class="iframe-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2730.5073565890502!2d-71.22295!3d46.8140094!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb89673e444613d%3A0xddab4a070a53d7da!2s520+Boulevard+Charest+E+%23390%2C+Ville+de+Qu%C3%A9bec%2C+QC+G1K+9K6!5e0!3m2!1sen!2sca!4v1510261612398" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
    </div>
  </div>  
